@font-face {
    font-family: 'Maven Pro';
    src: url('MavenPro-Regular.woff2') format('woff2'),
        url('MavenPro-Regular.woff') format('woff');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

